.imgLeo{
   
    width: 200px;
    height: 130px;
    margin: 1px,1px,5px;
    padding: 7px;
    margin: 10px;
    border: 2px  solid rgb(85, 129, 129);
    float: left;
    border-radius: 10px;
    
}



.componenteLeo{
    width: 1300px;
    height: 300px;
    margin: 1px,1px,5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 227, 241);
    box-shadow:
         inset 0 -3em 3em rgba(206, 200, 200, 0.1),
               0 0  0 2px rgb(202, 210, 214),
               0 -3em 3em rgba(194, 186, 186, 0.3);


    
    


  
}
.contenedorTexto{
    background-color: (181, 245, 234, 0.438);
    width: 840px;
    height: 180px;
    align-items: center;
    justify-content: center;
    display: flexbox;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    box-shadow:
         inset 0 -3em 3em rgba(15, 15, 15, 0.1),
               0 0  0 2px rgb(159, 178, 187),
               0 -3em 3em rgba(109, 106, 106, 0.3);
    
  
 

    
    
}
.nombrePersona{
  
background-color: aqua;
padding: 30pxx;
display: flow-root;
border-radius: 8px;
background: linear-gradient(white, rgba(0, 47, 255, 0.534), white);





}